* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* tira as margens
   define fonte cor e fundo do site*/
body {
    margin: 0;
    font-family: 'fredoka', system-ui, arial, sans-serif; 
    color: #222;
    background: #eeeadc;
    line-height: 1.6;

    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* faz a topbar sobrepor outros elementos ao rolar a pagina, faz ela sempre ficar no topo, tem fundo azul escuro e borda cinza em baixo*/
.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #080129;
    border-bottom: 4px solid gray;

}

/* limita a largura maxima da tela e centraliza o conteudo*/
.container {
    width: min(1100px, 92%);
    margin: 0 auto;


}

/* usa display flex para alinhar itens na horizontal. E centralizados verticalmente com espaço entre eles*/
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* texto em negrito, tira o sublinhado de links e aumenta o tamanho das fontes*/
.logo {
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

/*links do menu sem sublinhado, deixa os links em cinza claro, com a fonte mais grossa, com tamanho médio, espaço interno e bordas arredondadas.*/
nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    color: rgb(180, 180, 180);
    
}

nav a:hover {
    background-color: #f5f5f5;
    color: gray;
}

/* caixa da imagem: fundo branco, bordas arredondadas e cinza, com padding e margem superior. */
.hero-img {
    max-width: 100%;
    background: #fff;
    border: 1px solid gray;
    border-radius: 1.2rem;
    padding: 0.6rem;
    margin-top: 20%;
}
 /* imagem com largura fixa, exibida em bloco com os cantos arredondados */
.hero-img img {
    width: 40rem;
    display: block;
    border-radius: 0.5rem;
}

/* centraliza os itens, permite quebrar linha e cria espaço entre eles. */
.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

/* limita a largura do texto a 45% do espaço disponível. */
.hero-text {
    max-width: 45%;

}

/* define a cor de fundo e a cor das letras, alinha os textos no centro, e adiciona um espaçamento igual entre os itens. */
footer {
    background-color: #080129;
    color: white;
    justify-content: space-between;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.alt {
    background-color: #fff;
}

/* permite que quebre as linhas, fiquem centraliados e com espaço entre si*/
.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}

/* adiciona largura base de 360px, ajusta o tamanho conforme o espaço, tem fundo cinza bem claro, borda e cantos arredondados e texto preto.*/
.item {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #f5f5f5;
    border: 1px solid #525050;
    border-radius: 12px;
    padding: 13px;
    color: black;
}

/* "caixa" de imagem com margem na parte inferior, cantos arredondados e oculta as partes que ultrapassam o tamanho da tela utilizada. */
.thumb {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* imagem ocupa 100% da largura, é exibida em bloco, tem os cantos arredondados e tem um efeito de animação de 0.4 segundos */
.thumb img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

/* gera uma animação de um pequeno zoom enquanto a imagem rotaciona um pouco*/
.thumb img:hover {
    transform: scale(1.08) rotate(-1deg);
}


/* estiliza o mapa do google maps, que contem cantos arredondados,fundo branco, borda escura de 3px, e padding interno para afastar o mapa da borda*/
.mapa iframe {
    
    border-radius: 10px;
    background: #fff;
    border: 3px solid #080129;
    border-radius: 1.3rem;
    padding: 0.6rem;
}

/* adapta o site para telas de ate 870px de largura*/
@media (max-width: 870px) {

    section {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    nav a {
        padding: 10px 11px 10px 11px;

    }

    .hero-text {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}