* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'fredoka', system-ui, arial, sans-serif; 
    color: #222;
    background: #eeeadc;
    line-height: 1.6;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #080129;
    border-bottom: 4px solid gray;

}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;


}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    color: rgb(180, 180, 180);
    
}

nav a:hover {
    background-color: #f5f5f5;
    color: gray;
}

.hero-img {
    max-width: 100%;
    background: #fff;
    border: 1px solid gray;
    border-radius: 1.2rem;
    padding: 0.6rem;
    margin-top: 20%;
}

.hero-img img {
    width: 40rem;
    display: block;
    border-radius: 0.5rem;
}

.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.hero-text {
    max-width: 45%;

}

footer {
    border-top: 200px solid #eeeadc;
    background-color: white;
   
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}