* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'fredoka', system-ui, arial, sans-serif; 
    color: #222;
    background: #eeeadc;
    line-height: 1.6;

    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #080129;
    border-bottom: 4px solid gray;

}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;


}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    color: rgb(180, 180, 180);
    
}

nav a:hover {
    background-color: #f5f5f5;
    color: gray;
}

.hero-img {
    max-width: 100%;
    background: #fff;
    border: 1px solid gray;
    border-radius: 1.2rem;
    padding: 0.6rem;
    margin-top: 20%;
}

.hero-img img {
    width: 40rem;
    display: block;
    border-radius: 0.5rem;
}

.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.hero-text {
    max-width: 45%;

}

footer {
    background-color: #080129;
    color: white;
    justify-content: space-between;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.alt {
    background-color: #fff;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}

.item {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #f5f5f5;
    border: 1px solid #525050;
    border-radius: 12px;
    padding: 13px;
    color: black;
}

.thumb {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.thumb img:hover {
    transform: scale(1.08) rotate(-1deg);
}

.mapa iframe {
    
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background: #fff;
    border: 3px solid #080129;
    border-radius: 1.3rem;
    padding: 0.6rem;
}

@media (max-width: 870px) {

    section {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    nav a {
        padding: 10px 11px 10px 11px;

    }

    .hero-text {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}